# **Need of Programming**

We need programming to automate the machine. Machine will do the things very effectively, accuracy is more as comapare to human and also it save time and effort of human.  

Example: Used for web application, mobile application, games etc.

# **Computer Languages**

**Low Level Language**

1.   Machine language
2.   Assembly Language

**High Level Language**

1.   Object Oriented Programmimg Language
2.   Visual Programming Language

# **Low Level language**

A language that corresponds to a specific language

**1. Machine Language**

Its low level programming language which basically used 0's and 1's for programming that's why we can say this language directly interpreted into the hardware

**Advantages**

*   Transaltion Free
*   High Speed

**Disadvantages**

*   Hard to find error (program written in machine code)
*   Time consuming

**2. Assembly Language**

Its low level programming language. As compare to machine language it's slightly more user friendly language that directly corresponds to machine language.

It used **Assembler** which is program to translate assembly language instruction into a machine language.

**Advantages**

*   Easy to understand
*   Easy to used
*   Easy to locate and correct error

**Disadvantages**

*   Machine dependent
*   Hard to learn (^)
*   Less efficient (more execution time and assembler needed)

# **High Level Language**

Any language that is independent of the machine

**1. Object Oriented Programming Language**

Its high level programming language and machine independent. It contain english words and symbols. Specified rules are followed while writing the program


It used **Compiler** which is program to translate source code to object code [machine code]. If any error found it display on screen.

It used **Interpreter** which is program to translate source code to object code [machine code]. It translate program in line by line manner and it execute it immediately before translating the next statement. If any error found execution of program is halted and error get display on screen.


**Advantages**

*   Readability
*   Machine independent
*   Easy debugging

**Disadvantages**

* Less Efficient
  *   Translation process
  *   More memory
  *   More execution time

**2. Visual Programming Language**

Language that that are not text based. These programmimng language are designed for building windows based application

# **Overview of Python**

*   General Purpose Programming Language
*   High Level Programming Language
*   Interactive
*   Interpreted
*   Object Oriented Scripting Language

Developed by **GUIDO VAN ROSSUM** in late 1980s and early 1990s


*   Some other language information

 * **C** Developed by **Dennis Ritchie** in 1972

 * **C++** Developed by **Bjarne Stroustrup** in 1980

 * **Java** Developed by **Jame Gosling** in 1995

Python derived from many other labguages including ABC, Modula-3, C, C++, Algol-68, SmallTalk and Unix Shell and other scripting languages

# **Python Features**

*   Easy to learn
*   Easy to read
*   Easy to maintain
*   Standard library which are easy to understand and portable
*   Interactive mode - Interractive testibg and debugging of snippets of code
*   Portable
*   Extendable - We can add low level modules to the python interpreter. This  module enable programmer to add to or customize their tools to be more efficient.
*   Database - Python provide interfaces to all major commercial database
*   GUI Programming
*   Scalable - Provide better structure and support for large programming than shell scripting

**Google, Facebook, Instagram, Spotify, Ouora, Netflix, Dropbox, Reddit are some popular oraganizations which are using python**

# **Python Application in Various Domain**

*   Web and internet development
*   Scientific and numeric
*   Education
*   Desktop GUIs
*   Software Develpment
*   Business application

**OFFICIAL WEBSITE FOR MORE INFO:** https://www.python.org/

# **Comments in Python**

Single line comment

        #This is single line comment

  Multiple line comment

        '''
              This is single line comment
        '''

# **Python print() Function**

The print() function prints the specified message to the screen, or other standard output device.

    print(object(s), sep=separator, end=end, file=file, flush=flush)

In [ ]:
print("Hello World")

![print_fun.PNG]()

In [ ]:
print("Hello", "how are you?")

In [ ]:
x = ('apple', 'banana', 'cherry')
print(x)

('apple', 'banana', 'cherry')

In [ ]:
print("Hello", "how are you?", sep="---")

Hello---how are you?

In [ ]:
print("hello", end='+')
print("world")

hello+world

# **Variable**

Variable are containers for storing data values. In python we don't declared variable to create we have to assign value to it.

Also after seting it we can change the type of variable. To get data type used type() function.

In [ ]:
# Python is case sensitive

Name = "shweta"
name = 'shweta' # we can used single or double cotes for string


num = 10
num2 = 10.5

print(Name, name, num, num2)

Name = "Shweta Thikekar"

print(Name)

x = str(3) # STRING
y = int(3) # NUMBER
z = float(3) # FLOAT 3.0

print(x,y,z)

# To get data type used type() function

print(type(x), type(y), type(z))

shweta shweta 10 10.5
Shweta Thikekar
3 3 3.0
<class 'str'> <class 'int'> <class 'float'>

# **Some Rules**

A variable can have a short name or a more descriptive name(age,total)

*   Start with letter or underscore
*   Can not start with number
*   Only contain alpha-numeric and umderscore
*   Names are case sensitive

Some Techniques:

*   Camel Case: myVariableName = "shweta"
*   Pascal Case:  MyVariableName = "shweta"
*   Snake Case:  My_Variable_Name = "shweta"

Also we can assign mutiple values to different variable or one value to multiple variables.

In [ ]:
x, y, z = 10, 20, 30

print (x,y,z)

x=y=z=10

print (x,y,z)

# Unpacking

fruits = ["Apple" , "Banana" , "Cherry"]

x, y, z = fruits

print (x,y,z)

# Concatenation

a = 'Shweta'
b = "Thikekar"
c = 10
d = 20

print(a + " " + b)  # for space in between

print(c+d)

# print(a+d) # TypeError: can only concatenate str (not "int") to str

10 20 30
10 10 10
Apple Banana Cherry
Shweta Thikekar
30

# **Global and Local Variabl**e

In [ ]:
x = "Hello" # Global Variable

def demo():
  x = "Bye" # Local Variable
  print(x)

demo()
print(x)

# By using Global keyword

print("By using Global keyword")

x = "Hello" # Global Variable

def demo():
  global x
  x = "Bye" # Local Variable
  print(x)

demo()
print(x)

Bye
Hello
By using Global keyword
Bye
Bye

In [ ]:
a = 1.1 + 2.2

print(a==3.3)

False

In [ ]:
t = -10

a = 1.1 + 2.2

abs(a - 3.3) < t

False

# **Operands and Expression**

a = 10
b = 20

a+b

In this case, the  + operator add the oprends a and b together.

A sequence of operands and operators like a+b+5 is called an expression.

# **Arithmetic Operator**

In [ ]:
#  9 Arithmetic Operators

a = 10
b = 20

print("Unary Positive", +a) # Unary Positive

print("Unary Negation", -a) # Unary Negation

print("Addition", a+b) # Addition

print("Subtraction", a-b) # Subtraction

print("Multiplication", a*b) # Multiplication

print("Division", a/b) # Division

print("Module", a%b) # Module

print("Floor Division", a//b) # Floor Division

print("Exponetiation", a**b) # Exponetiation

Unary Positive 10
Unary Negation -10
Addition 30
Subtraction -10
Multiplication 200
Division 0.5
Module 10
Floor Division 0
Exponetiation 100000000000000000000

#**Comparison Operator**

In [ ]:
# Comparison Operator

a = 10
b = 20

print("Equal to: ", a==b) # Equal to

print("Not equal to: ", a!=b) # Not equal to

print("Greater than:", a>b) # Greater than

print("Greater than equal to:", a>=b) # Greater than equal to

print("less than:", a<b) # less than

print("less than equal to:", a<=b) # less than equal to

Equal to:  False
Not equal to:  True
Greater than: False
Greater than equal to: False
less than: True
less than equal to: True

# **Equality comparison on floating point values**

The value stored internally for a float object may not be precisely what you’d think it would be.

For that reason, it is poor practice to compare floating-point values for exact equality.

In [ ]:
x = 1.1 + 2.2

print (x == 3.3)

False

The internal representations of the addition operands are not exactly equal to 1.1 and 2.2, so you cannot rely on x to compare exactly to 3.3.

The preferred way to determine whether two floating-point values are “equal” is to compute whether they are close to one another, given some tolerance.

In [ ]:
tolerance = 0.00001 # give any name to value
x = 1.1 + 2.2
abs(x - 3.3) < tolerance

True

# **Logical Operator**

1.   Logical expression involving boolean operands
2.   Evalution of non-boolean value in boolean context
3.   Logical Expressions Involving Non-Boolean Operands
4.   Compound Logical Expressions and Short-Circuit Evaluation
5.   Idioms That Exploit Short-Circuit Evaluation

          a = 3
          b = 1
          print((b / a) > 0) # Avoiding an Exception

          a = 0
          b = 1
          (b / a) > 0 # Exception catch

          a = 0
          b = 1
          a != 0 and (b / a) > 0  # You can avoid an error with an expression like this


*   Selecting a Default Value
     
          string = 'foo bar'
          s = string or '<default_value>'
          print(s) # foo bar

          string = ''
          s = string or '<default_value>'
          print(s) # <default_value>  



6.   Chained Comparisons

          x < y <= z
          x < y and y <= z

    They will both evaluate to the same Boolean value. The subtle difference between the two is that in the chained comparison x < y <= z, y is evaluated only once. The longer expression x < y and y <= z will cause y to be evaluated twice.

1. Logical expression involving boolean operands

In [ ]:
a = 10
b = 20
c = 30
d = 40

# 1) not

print("not operator:", not a > 20) # execute a > 20 then not it

# 2) or

print("or operator:", a>b or c>d)

# 3) and

print("and operator:", a<b and c<d)

not operator: True
or operator: False
and operator True

2. Evalution of non-boolean value in boolean context

      You can determine the “truthiness” of an object or expression with the   built-in bool() function. bool() returns True if its argument is truthy and False if it is falsy.

In [ ]:
'''
1) Numeric Value

A zero value is false.
A non-zero value is true.
'''

print("1) Numeric Value\n")

print(bool(0),bool(0.0),bool(0.0+0j))

print(bool(-3),bool(4.4),bool(1.1+4j),"\n")


'''
2) String

An empty string is false.
A non-empty string is true.
'''

print("2) String\n")

print(bool(''), bool(""), bool(""""""))


print(bool('foo'), bool(" "), bool(''' '''),"\n")

'''
3) Built-In Composite Data Object
Python provides built-in composite data types called list, tuple, dict, and set.
These are “container” types that contain other objects.
An object of one of these types is considered false if it is empty and true if it is non-empty.
'''

print("3) Built-In Composite Data Object\n")

print(type([]))

print(bool([]))


print(type([1, 2, 3]))

print(bool([1, 2, 3]),"\n")

# None Keyword

print("None keyword:", bool(None))

1) Numeric Value

False False False
True True True

2) String

False False False
True True True

3) Built-In Composite Data Object

<class 'list'>
False
<class 'list'>
True

None keyword: False

3.   Logical Expressions Involving Non-Boolean Operands

  1.   “not” and Non-Boolean Operands             
   ![Not_boolean.PNG]()

  2.   “or” and Non-Boolean Operands
  
        ![or_boolean.PNG]()
  3.   “and” and Non-Boolean Operands
       
       ![and_boolean.PNG]()

In [ ]:
# 1) “not” and Non-Boolean Operands

x = 3
bool(x)

print(not x)


x = 0.0
bool(x)

print(not x)


# 2) “or” and Non-Boolean Operands

x = 3
y = 4
print(x or y)


x = 0.0
y = 4.4
print(x or y)


# 3) “and” and Non-Boolean Operands

x = 3
y = 4
print(x and y)


x = 0.0
y = 4.4
print(x and y)

False
True
3
4.4
4
0.0

# **Bitwise Operator**

* bitwise AND
* bitwise OR
* bitwise negation
* bitwise XOR
* Shift right n places
* Shift left n places

# **Identity Operator**

Python provides two operators, is and is not, that determine whether the given operands have the same identity—that is, refer to the same object. This is not the same thing as equality, which means the two operands refer to objects that contain the same data but are not necessarily the same object.

In [ ]:
x = 1001
y = 1000 + 1
print(x, y)


print(x == y)

print(x is y)

1001 1001
True
False

In [ ]:
a = 'I am a string'
b = a
print(id(a))

print(id(b))


print(a is b)

print(a == b)

139909225373872
139909225373872
True
True

In [ ]:
x = 10
y = 20

print(x is not y)

True

# **Operator Precedence**

![Operator_Precedence.PNG]()

# **Augmented Assignment Operators**

You have seen that a single equal sign (=) is used to assign a value to a variable. It is, of course, perfectly viable for the value to the right of the assignment to be an expression containing other variables

In [ ]:
a = 10
a = a + 5
print(a)


b = 20
b = b * 3
print(b)

In [ ]:
# this sort of assignment only makes sense if the variable in question has already previously been assigned a value

z = z / 12 # Error

![Augmented_Assignment.PNG]()

# **Conditional Statement**

      if _______ :
        print(" ");

Note: Python relies on indentation (whitespace at the beingning of a line) to define scope in the code. Other programming language often use curly brackets for this purpose.

In [ ]:
if a>b :
print("") # You will get an error

The **elif** keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 10
b = 20

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

b is greater than a

The **else** keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 100
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

You can also have an **else without the elif**

In [ ]:
a = 100
b = 20

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

**Short Hand If**

If you have only one statement to execute, you can put it on the same line as the if statement.

In [ ]:
if a > b: print("a is greater than b")

**Short Hand If ... Else**

If you have only one statement to execute, one for if, and one for else, you can put it all on the same line

In [ ]:
a = 2
b = 100
print("A") if a > b else print("B")

This technique is known as **Ternary Operators, or Conditional Expressions.**

You can also have **multiple else** statements on the same line

In [ ]:
a = 10
b = 10
print("A") if a > b else print("Equal") if a == b else print("B")

=

The **or** keyword is a logical operator, and is used to combine conditional statements

**And**
The and keyword is a logical operator, and is used to combine conditional statements

In [ ]:
a = 10
b = 20
c = 30
d = 40

# 1) not
if not a > 20:
    print("not operator: opposite the ans") # execute a > 20 then not it

# 2) or
if a<b or c>d:
    print("or operator: at least one")

# 3) and
if a<b and c<d:
    print("and operator:both true")

not operator: opposite the ans
or operator: at least one
and operator:both true

**Nested If**

You can have if statements inside if statements, this is called nested if statements

In [ ]:
x = 50

if x > 10:
  print("Above ten,")
  if x > 200:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
but not above 20.

**Pass statement**

if statement cannot be empty, but if you for some reason have an if statement with no content put in the pass statement to avoid getting an error

In [ ]:
for x in [0, 1, 2]:
  pass


def myfunction():
  pass


class Person:
  pass

a = 33
b = 200

if b > a:
  pass

**Break statement**

The break statement terminate the loop contaning it. Control of the program flow to the statement immediately after the body of the loop.

In [ ]:
# Program to show the use of break statement inside loops

for val in "string":
    if val == "i":
        break
    print(val)

print("The end")

s
t
r
The end

**Continue statement**

continue statement is used to skip the rest of the code inside a loop for the current interation only. Loop does not terminates but continues with the next iteration

In [ ]:
# Program to show the use of continue statement inside loops

for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

s
t
r
n
g
The end

# **Loops**

Python has two primitive loop commands:

1.   while loops
2.   for loops

**1.   while loops**

Repeat a statement or group of statement while a given condition is TRUE. It test the condition before executing before executing the loop body.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

In [ ]:
# break statement

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

In [ ]:
# continue statement

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

**The else Statement**

With the else statement we can run a block of code once when the condition no longer is true

In [ ]:
i = 1
while i < 5:
  print(i)
  i += 1
else:
  print("i is no longer less than 5")

1
2
3
4
i is no longer less than 5

**2.   for loops**

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
laptop = ["HP", "LENOVO", "DELL"]
for x in laptop:
  print(x)

HP
LENOVO
DELL

**Looping Through a String**

In [ ]:
for x in "shweta":
  print(x)

s
h
w
e
t
a

In [ ]:
# break statement

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
# break statement

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [ ]:
# continue statement

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

In [ ]:
# for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

for x in [0, 1, 2]:
  pass

**The range() Function**

To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

**Note:** that range(6) is not the values of 0 to 6, but the values 0 to 5.

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3)

In [ ]:
for x in range(2, 30, 3):
  print(x)

**Else in For Loop**

The else keyword in a for loop specifies a block of code to be executed when the loop is finished

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

**Note:** The else block will NOT be executed if the loop is stopped by a break statement.

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

**Nested Loops**

The "inner loop" will be executed one time for each iteration of the "outer loop"

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# **Command Line Arguments in Python**

The arguments that are given after the name of the program in the command line shell of the operating system are known as Command Line Arguments.

The three most common are:

* Using sys.argv
* Using getopt module
* Using argparse module

**Using sys.argv**

The sys module provides functions and variables used to manipulate different parts of the Python runtime environment.

It’s main purpose are:

* It is a list of command line arguments.
* len(sys.argv) provides the number of command line arguments.
* sys.argv[0] is the name of the current Python script.

In [ ]:
# Python program to demonstrate
# command line arguments


import sys

# total arguments
n = len(sys.argv)
print("Total arguments passed:", n)

# Arguments passed
print("\nName of Python script:", sys.argv[0])

print("\nArguments passed:", end = " ")
for i in range(1, n):
	print(sys.argv[i], end = " ")

# Addition of numbers
Sum = 0
# Using argparse module
for i in range(1, n):
	Sum += int(sys.argv[i])

print("\n\nResult:", Sum)